@import "../../styles/tabStyles";
@import "../../styles/taroUIStyle";

.order-wrap {
    height: 100vh;
    background: #F7F7F7;
    .order-tab {
        background: #ffffff;
        @include tab-wrap(100px, 15px, #F7F7F7);
    }
}


