/*订单页面样式*/
.order-btn {
    width: 160px;
    font-size: 24px;
    color: #999999;
    background: #ffffff;
    border: 1px solid #D2D2D2;
    margin: 0;
    margin-left: 20px;
    border-radius: 4px;
    &.order-btn-hover {
        background: #f0f0f0;
    }
    &:after {
        border: none;
    }
}

.order-type-tag {
    display: inline-block;
    padding: 0 10px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
    font-size: 24px;
    &.yellow {
        background: #FCB251;
    }
    &.green {
        background: #2DD584;
    }
    &.blue {
        background: #71B4FF;
    }
}
