//选项卡样式
@mixin tab-wrap($height:80px,$bsize:1px,$borderColor:#E5E5E5) {
    position: relative;
    height: $height;
    box-sizing: border-box;
    border-bottom: $bsize solid $borderColor;
    .tab-item {
        position: relative;
        height: 100%;
        line-height: $height;
        font-size: 30px;
        color: #666666;
        text-align: center;
        &:after {
            content: " ";
            position: absolute;
            bottom: -3px;
            left: 50%;
            transform: translate(-50%, 0);
            height: 6px;
            width: 50px;
            background: transparent;
            border-radius: 0 0 6px 6px;
        }
        &.active {
            color: #FCB251;
            /*border-bottom: 6px solid #FCB251;*/
            &:after {
                background: #FCB251;
            }
        }
    }
}

