.goods-wrap {
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 100px;
}

.cate-list {
    width: 160px;
    background: #F5F5F5;
    .cate-item {
        padding: 20px 10px;
        min-height: 40px;
        font-size: 26px;
        color: #777777;
        border-bottom: 1px solid #E5E5E5;
        &.active {
            background: #ffffff;
            color: #333333;
        }
    }
}

.goods-list {
    padding-left: 20px;
    .dish-cate-wrap {
        .title {
            display: inline-block;
            position: relative;
            font-size: 24px;
            color: #333333;
            padding-left: 20px;
            font-weight: bold;
            &:before {
                content: " ";
                position: absolute;
                left: 0;
                top: 50%;
                height: 20px;
                width: 4px;
                background: #FCB251;
                transform: translate(0, -45%);
            }
        }
        .dish-item {
            box-sizing: border-box;
            padding-top: 20px;
            padding-right: 20px;
            .dish-img {
                width: 150px;
                height: 150px;
                border-radius: 4px;
            }
            .right {
                margin-left: 15px;
                .dish-name {
                    font-size: 26px;
                    color: #333333;
                }
                .description {
                    margin-top: 5px;
                    font-size: 22px;
                    color: #999999;
                }
                .count {
                    margin-top: 5px;
                    color: #999999;
                    font-size: 22px;
                }
                .price {
                    font-size: 40px;
                    color: #FF6C64;
                    margin-top: 10px;
                    .flag {
                        font-size: 22px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

/***添加菜品按钮***/
.part {
    display: inline-block;
    min-width: 50px;
    text-align: center;
    font-size: 24px;
    color: #999999;
}

.btn {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 35px;
    text-align: center;
    border-radius: 20px;
    color: #ffffff;
    &.add {
        background: #FCB251;
        &.hover {
            background: rgba(252, 178, 81, 0.3) !important;
        }
    }
    &.cut {
        background: #E5E5E5;
        &.hover {
            background: #CCCCCC;
        }
    }
}

/*****购物车******/
.car-wrap {
    position: fixed;
    height: 90px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ACACAC;
    z-index: 99;
    &:before {
        content: "";
        position: absolute;
        left: 30px;
        top: -20px;
        width: 110px;
        height: 110px;
        border-radius: 55px;
        background-color: #ACACAC;
    }
    .car-icon {
        position: absolute;
        left: 35px;
        top: -13px;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        background-color: #FCB251;
        background-position: 40% center;
        background-repeat: no-repeat;
        background-image: url("../../images/icons/icon_car.png");
        background-size: 62px 54px;
        &.hover {
            background-color: rgba(252, 178, 81, 0.3);
        }
        .red-dot {
            position: absolute;
            right: 0;
            top: -10px;
            width: 32px;
            height: 32px;
            line-height: 32px;
            background: rgba(255, 84, 75, 1);
            border-radius: 16px;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
        }
    }
    .fee-wap {
        padding-left: 156px;
        height: 100%;
        .price {
            color: #ffffff;
            //height: 20px;
            line-height: 26px;
            .rmb {
                font-size: 26px;
                font-weight: bold
            }
            .num {
                font-size: 44px;
                font-weight: bold
            }
        }
        .shipping {
            color: #ffffff;
            font-size: 20px;
        }
    }
    .bill-btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 200px;
        height: 90px;
        line-height: 90px;
        text-align: center;
        background-color: #BBBBBB !important;
        font-size: 28px;
        color: #ffffff !important;
        border-radius: 0;
        &:after {
            border: 0;
        }
        &.active {
            background-color: #FCB251 !important;
            &.hover {
                background: rgba(252, 178, 81, 0.3) !important;
            }
        }
    }
}

//自定义遮罩背景
@mixin my-mask($zIndex:98) {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    //margin-bottom: taro-tabbar-height;
    z-index: $zIndex;
}

.car-detail {
    @include my-mask();
    .car-detail-in {
        position: absolute;
        width: 100%;
        bottom: 90px;
        min-height: 100px;
        max-height: 50vh;
        background-color: #ffffff;
        padding-bottom: 30px;
        //transform: translateY(50vh);
        transition: all .2s cubic-bezier(.25, .5, .5, .9);
        .scroll-car {
            overflow-y: auto;
        }
        .header {
            padding: 26px 20px;
            background-color: #F7F7F7;
            .title {
                position: relative;
                font-size: 28px;
                color: #333333;
                padding-left: 20px;
                &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 6px;
                    height: 28px;
                    background-color: #FCB251;
                    border-radius: 3px;
                    transform: translate(0, -50%);
                }
            }
            .clear-btn {
                font-size: 24px;
                color: #999999;
                background: url("../../images/icons/icon_del.png") no-repeat left center;
                background-size: 31px 30px;
                text-indent: 40px;
                &.hover {
                    color: #ccc;
                }
            }
        }
        .item {
            padding: 30px 20px;
            border-bottom: 1px solid #E5E5E5;
            &:last-child {
                border-bottom: 0;
            }
            .name {
                width: 100%;
                font-size: 28px;
                color: #333333;
                margin-right: 20px;
            }
            .description {
                color: #999999;
                font-size: 22px;
            }
            .price {
                color: #FF6C64;
                font-size: 30px;
                margin-right: 50px;
                .rmb {
                    font-size: 24px;
                }
            }
        }
    }
}

/*******商品选择规格********/
.chose-sku {
    font-size: 24px;
    color: #ffffff;
    //width: 106px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    background: rgba(252, 178, 81, 1);
    border-radius: 23px;
    margin: 0;
    padding: 0 20px;
    &.hover {
        background: rgba(252, 178, 81, 0.3);
    }
    &:after {
        border: 0;
    }
}

.sku-wrap {
    @include my-mask(999);
    .sku-inwrap {
        background: #ffffff;
        margin: 0 20px;
        border-radius: 10px;
        min-height: 50px;
        max-height: 50%;
        overflow-y: auto;
        .header {
            position: relative;
            padding: 20px 0;
            font-size: 30px;
            color: #333333;
            text-align: center;
            .close-sku-panel {
                position: absolute;
                right: 20px;
                top: 50%;
                width: 40px;
                height: 40px;
                background: url("../../images/icons/icon_close.png") no-repeat center;
                background-size: cover;
                transform: translate(0, -50%);
            }
        }
        .content-wrap {
            .title {
                font-size: 26px;
                color: #333333;
                margin-bottom: 10px;
                padding: 0 20px;
            }
            .item-list {
                flex-wrap: wrap;
                padding-left: 20px;
                .item {
                    &:first-child {
                        margin-left: 0;
                    }
                    height: 50px;
                    line-height: 42px;
                    box-sizing: border-box;
                    margin: 0 20px 20px 0;
                    padding: 0 15px;
                    border: 1px solid #D2D2D2;
                    border-radius: 8px;
                    font-size: 26px;
                    color: #999999;
                    &:after {
                        border: 0;
                    }
                    &.hover {
                        background: rgba(250, 250, 250, 0.5);
                    }
                    &.active {
                        border: 1px solid #FCB251;
                        background: #FCB251;;
                        color: #ffffff;
                        &.hover {
                            background: rgba(252, 178, 81, 0.5);
                        }
                    }
                }
            }
        }
        .footer {
            border-top: 1px solid #E5E5E5;
            padding: 20px;
            .price {
                color: #FF544B;
                font-weight: bold;
                font-size: 44px;
                .rmb {
                    font-size: 26px;
                }
                .money {
                    height: 20px;
                    line-height: 28px;
                }
            }
            .sku {
                color: #999999;
                font-size: 22px;
            }
            .add-car-btn {
                height: 46px;
                line-height: 44px;
                background: #FCB251;
                margin: 0;
                padding: 0 20px;
                font-size: 22px;
                color: #ffffff;
                text-align: center;
                border-radius: 23px;
                &:after {
                    border: 0;
                }
                &.hover {
                    background: rgba(252, 178, 81, 0.5);
                }
                &.disabled {
                    background: #CCCCCC;
                    color: #999999;
                }
            }
        }
    }
}

/*抛物线动画*/
.good-box {
    position: fixed;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    left: 50%;
    top: 50%;
    z-index: 9999;
    background: #FCB251;
}
